body {
	margin: 0px;
	padding: 0px;
	background: gray;
}

.title {
	font-family: 'Rock Salt', cursive;
	text-align: left;
	font-size: 24pt;
}

.container {
    margin: 0px;
    padding: 0px;
	clear: both;
}

.containerbottom {
    margin: 0px;
    padding: 10px;
    text-align: center;
}
#left {
    position: absolute;
    width: 4vh;
    height: 4vh;
    padding: 10px;
    left: 40px;
    float: left;
    top: 50%;
    margin-top: -50px;
    border-radius: 10%;
    background-image: url("../img/Paperbg.jpg");
    -webkit-transition: all 0.3s;
}

#right {
    position: absolute;
    width: 4vh;
    height: 4vh;
    padding: 10px;
    right: 40px;
    top: 50%;
    float: left;
    margin-top: -50px;
    border-radius: 10%;
    background-image: url("../img/Paperbg.jpg");
    -webkit-transition: all 0.3s;
}

.section-container{
    height: 500px;
    width: 960px;
    min-width:960px;
    overflow:hidden;
    position:relative;
    -webkit-transition:all 0.3s;
    left: 23vh;
    border-radius: 2%;
}

#section1 {
    width: 5760px;
    height: 100%;
    margin-left: 0px;
    padding: 0px;
    background-image: url("../img/Paperbg.jpg");
}

.section-item {
    padding: 10px 0px 10px 10px;
    margin: 0px;
    width: 740px;
    min-width: 740px;
    height: 100%;
    position: relative;
    float: left;
}

.section-text {
    padding-right: 10px;
    text-align: left;
    width: 200px;
    height: 50%;
    float: left;
    position: relative;
    top: 25%
}
.content {
	margin: 0px;
	padding: 0px;
	position: relative;
}

.leftpanel {
	width: 50%;
}

.portrait {
    border-radius: 2%;
	max-width: 700px;
    max-height: 480px;
    min-width: 700px;
    min-height: 480px;
}

.rightpanel {
	background-image: url("../img/Paperbg.jpg");
	background-repeat: repeat;
	height: auto;
	padding: 20px;

	box-shadow: 5px 5px gray;
}

.navcork {
	margin: 0px;
	padding: 0px;
	height: 30%;
    min-height: 200px;
    max-height: 350px;
	width: 100%;
	border: 0px;
	float: left;
	background-repeat: round;
	background-image: url("../img/corkbg.jpg");
	background-color: #cccccc;
}

.mainpage {
	height: 100%;
}


.quotenote {
	position: :relative;
	top: 10px;
	margin: 10px;
	clear:both;
	font-size: 12pt;
	font-style: italic;
	text-align: center;
}

.leftside {
	height: 100%;
	width: 49%;
	float: left;
	position: relative;
}

.panelimage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.aboutshadow {
	z-index: 0;
}

.about {
	z-index: 1;
}

.pinabout {
	z-index: 2;
}

.renjunzhu {
	z-index: 3;
}

.rightside {
	float: right;
	width: 49%;
	position: relative;
}

.divtoclick {
	position: relative;
	float: left;
	width: 33%;
	height: 100%;
	z-index: 100;
}

.aboutdiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.workshadow {
	z-index: 6;
}
.work {
	z-index: 7;
}

.pinwork {
	z-index: 8;
}

.personalshadow {
	z-index: 3;
}

.personal {
	z-index: 4;
}

.pinpersonal {
	z-index: 5;
}

.activitiesshadow {
	z-index: 0;
}

.activities {
	z-index: 1;
}

.pinactivities {
	z-index: 2;
}
